
  body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  .navbar {
    background-color: purple;
    
    width: 100%;
    padding-top: 20px;
    height: 40px;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
    text-align: center;
    
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    
    transition: color 0.3s ease;
    border: 1px solid purple;
  }
  
  .navbar a:hover {
    color: cyan;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
  }
  
  .content {
    margin-top: 60px; /* Adjust according to navbar height */
    padding: 20px;
  }
  footer{
    text-align: center;
  }
  
  h1 {
    
    color: purple;
  }
  h3{
    font-size: 30px;
  }
  
  p {
    line-height: 1.6;
    font-size: 22px;
  }
  ul li{
    font-size: 22px;
  }
  table{
    font-size: 25px;
  }
  


  